body {
    background-color: powderblue;
    font-family: Arial, sans-serif;
}

.container {
    width: 750px;
    margin: auto;
    background: white;
    padding: 10px;
}

.header {
    background-color: lightgreen;
    height: 50px;
}

.header img {
    width: 80px;
    height: 50px;
    float: left;
}

.header h1 {
    text-align: center;
    line-height: 50px;
    margin: 0;
}

li {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}
